Pacotes

In [34]:
#tratamento de dados
import pandas as pd
import numpy as np

Dados

In [35]:
#carregar dados bitcoin
dados_finais = (pd
.read_csv("C:/Users/eduar/OneDrive/√Årea de Trabalho/Python/bitcoin/silver/bases/dados_finais.csv")
)

In [36]:
#exibir dados
dados_finais.head()

         Date         btc        sp500         ouro  interest_rate
0  2014-09-17  457.334015  2001.569946  1234.400024          0.013
1  2014-09-18  424.440002  2011.359985  1225.699951          0.010
2  2014-09-19  394.795990  2010.400024  1215.300049          0.007
3  2014-09-20  408.903992          NaN          NaN            NaN
4  2014-09-21  398.821014          NaN          NaN            NaN

Tratamento

In [37]:
def preencher_nulos_com_anterior(coluna):
    coluna_preenchida = coluna.fillna(method='ffill')
    return coluna_preenchida

#Supondo que "dados_finais" seja o seu DataFrame
dados_finais = dados_finais.apply(preencher_nulos_com_anterior, axis=0)

In [41]:
#exibir dados
dados_finais.head(5)

         Date         btc        sp500         ouro  interest_rate
0  2014-09-17  457.334015  2001.569946  1234.400024          0.013
1  2014-09-18  424.440002  2011.359985  1225.699951          0.010
2  2014-09-19  394.795990  2010.400024  1215.300049          0.007
3  2014-09-20  408.903992  2010.400024  1215.300049          0.007
4  2014-09-21  398.821014  2010.400024  1215.300049          0.007

Salvamento

In [39]:
dados_finais.to_csv('bases/dados_finais.csv', index=False,mode='w')